<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="cli_ure" publicKeyToken="CE2CB7E279207B9E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.20.0" newVersion="1.0.20.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="cli_uretypes" publicKeyToken="CE2CB7E279207B9E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.6.0" newVersion="1.0.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="cli_basetypes" publicKeyToken="CE2CB7E279207B9E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.17.0" newVersion="1.0.17.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
